@GameAppTaskDataAccess.Models.UserModel

@{
    ViewData["Title"] = "Users";
}

<h2>@ViewData["Title"]</h2>

<table>
    <thead>

    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
        }
    </tbody>
</table>