@using GameAppTaskBusiness.DTOs.User
@model UserDto

@{
    ViewData["Title"] = "My Profile";
}

<h2>@ViewData["Title"]</h2>

<div class="profile-details">
    <h5><strong>First Name:</strong> @Model.FirstName</h5>
    <h5><strong>Last Name:</strong> @Model.LastName</h5>
    <h5><strong>Email:</strong> @Model.Email</h5>
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Profile" asp-action="FavouriteBoardGames">Favourite Board Games</a>
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Profile" asp-action="FriendRequests">Friend Requests</a>
</div>
